@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css'); /* load the Catppuccin CSS */

#text_div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#text_div #test_text {
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text_div #test_text p {
    border-bottom: 0.1rem solid var(--ctp-mocha-mauve);
    border-top: 0.1rem solid var(--ctp-mocha-mauve);
    padding: 1rem;
}

#text_div #player_ui {
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text_div #player_ui #play_button {
    border: 0.1rem solid var(--ctp-mocha-pink);
    border-radius: 1rem;
    background-color: var(--ctp-mocha-pink);
    color: var(--ctp-mocha-surface0);
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

#text_div #player_ui #play_button:hover {
    background-color: var(--ctp-mocha-mauve);
}

#text_div #player_ui #play_button:disabled {
    background-color: var(--ctp-mocha-pink);
    color: var(--ctp-mocha-surface0);
    cursor: not-allowed;
}

#text_div #player_ui #text_input {
    border: 0.1rem solid var(--ctp-mocha-pink);
    border-radius: 1rem;
    background-color: var(--ctp-mocha-surface0);
    color: var(--ctp-mocha-pink);
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

#text_div #player_ui #text_input:focus {
    width: 80%;
    word-wrap: break-word;
    outline: none;
}

#text_div #player_ui #text_input:disabled {
    background-color: var(--ctp-mocha-surface1);
    color: var(--ctp-mocha-pink);
    cursor: not-allowed;
}

#text_div #player_ui #counter {
    border: 0.1rem solid var(--ctp-mocha-pink);
    border-radius: 1rem;
    background-color: var(--ctp-mocha-surface0);
    color: var(--ctp-mocha-mauve);
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    width: 2rem;
    text-align: center;
}